	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/12/2016 11:11
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-about:before { content: "\f100"; }
.flaticon-blog:before { content: "\f101"; }
.flaticon-create:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-market:before { content: "\f105"; }
.flaticon-recipes:before { content: "\f106"; }
.flaticon-video:before { content: "\f107"; }